.critter1Style {
    border: 3pt solid crimson;
}
.critter1SwitchStyle {
    border: 3pt solid cornflowerblue;
}
.critter2Style {
    border: 3pt solid crimson;
}
.critter2SwitchStyle {
    border: 3pt solid cornflowerblue;
}
.critter3Style {
    border: 3pt solid crimson;
}
.critter3SwitchStyle {
    border: 3pt solid cornflowerblue;
}
.critter4Style {
    border: 3pt solid crimson;
}
.critter4SwitchStyle {
    border: 3pt solid cornflowerblue;
}